
#movie-section {
    width: 25;
    display: flex;
    position: relative;
    height: 70vh;
 } 


img {
    height: 30vh;
    display: block;
    position: relative; 
    bottom: 10px;
    width: 30rem;
    margin-top: 100px;



}



 p {display: block;
 position: absolute;
 bottom: 0;

} 


h3 {
    display: block;
    position: relative;
} 