#movie-section {

   padding: 20px;
   text-align: center;
   /* width: 25%; */
   /* display: flex; */
   /* position: relative; */
   /* height: 70vh; */
}

html {
   background-color: black;
}

.container {
   background-color: rgb(223, 231, 228);
   color: black;
}

.container-height {
   height: 525px;
}

.poster {
   min-height: 400px;
}

.movie-title {
   margin-bottom: 10px;
}


.border-black {
   border: 2px solid black;
   margin-bottom: 10px;
}

.btn{

    padding: 20px;
    text-align: center;
    /* width: 25%; */
    /* display: flex; */
    /* position: relative; */
    /* height: 70vh; */
 } 

 .movie-title{
    margin-bottom: 10px;
 }


 .border-black{
    border: 2px solid black;
    margin-bottom: 10px;
 }

.hide{
   display: none
}

/* img { */
/* height: 30vh; */





/* } */



/* p {
    display: block;
 position: absolute;
 bottom: 0;

} 


h3 {
    display: block;
    position: relative; */
/* }  */