
#movie-section {
    padding: 20px;
    text-align: center;
    /* width: 25%; */
    /* display: flex; */
    /* position: relative; */
    /* height: 70vh; */
 } 

 .movie-title{
    margin-bottom: 10px;
 }


 .border-black{
    border: 2px solid black;
    margin-bottom: 10px;
 }

.hide{
   display: none
}

/* img { */
    /* height: 30vh; */





/* } */



 /* p {
    display: block;
 position: absolute;
 bottom: 0;

} 


h3 {
    display: block;
    position: relative; */
/* }  */